:root{
    --blue: rgb(167,199,231);
    --white: white;
    --green: rgb(51, 204, 153);
    --purple: rgb(199, 167, 231);
    --gray: lightgray;
    --lightblue: rgb(233, 241, 249);
}
body{
    text-align: center;
}
.base-grid {
    display: grid;
    column-gap: 10px;
    row-gap: 25px;
}
.fit {
    display: flex;
}
.distribute-even {
    justify-content: space-evenly;
}
.home-columns {
    grid-template-columns: repeat(6, 1fr);
}
.full-width {
    grid-column-start: span 6;
}
.nav-columns {
    grid-template-columns: repeat(5, 1fr);
    border: 10px solid var(--green);
    border-width: thick;
    padding: 0.5%;
    background-color: var(--green);
    border-radius: 10px;
    margin: 3% 15% 0% 15%;
}
.center {
    justify-self: center;
}
h3 {
    color: black;
    margin-top: 0%;
}
h5 {
    text-align: center;
}
.edit {
    grid-column-start: span 3;
    margin-top: 3%;
    
}
.editprof {
    border: 10px solid var(--green);
    border-style: solid;
    border-width: thin;
    /* justify-self: center; */
    background-color: var(--purple);
    margin: 3% 20% 1% 20%;
    padding: 3% 2% 4.5% 2%;
    border-radius: 10px;
}
.stack {
    flex-direction: column;
    padding: 10px 50px 10px 50px;
}
.ed {
    color:white;
}
label {
    text-align: left;
    font-weight: bolder;
}

.empw {
    display: grid;
    column-gap: 10px;
    border-radius: 10px;
    border: 10px solid var(--lightblue);
    border-width: thick;
    background-color: var(--lightblue);
    margin: 2% 2% 4% 2%;
    padding: 2% 2% 6% 2%;
}

.editprof-btn {
    background-color: var(--green);
    color: black;
    border: none;
    padding: 2%;
    font-weight: bolder;
    font-size: 1.25 rem !important;
    min-width: 35% !important;
    justify-content: center;
    margin-left: 32.5%;
    margin-bottom: 2%;
    border-radius: 10px;
}

h6 {
    font-size: 1.2rem;
}
p {
    font-size: 0.9rem;
}